body {
    background-color: lightblue;
    font-style:unset ;font-size: x-large;
}
h1 {
    background-color: black;
    color: lightblue;
    padding: 5px;
}
 .ueberschrift0 {font-size: larger; font-weight: bold;
 }
 .ueberschrift1 {color: blue; font-weight: bold;}